.input{
    font-size: 30px;
    margin-top:20px;
    margin-bottom: 20px;
    background-color:#54cbe9;
    color:#d0fffe;
    border-radius: 10px;
    border: 1px double blue;
  }
  .form{
    background-color:#54cbe9;
    color: #d0fffe;
    margin-right: 35%;
    margin-left: 35%;
    border-radius: 5%;
    height: 60vh;
    border: 2px double blue;
  }

  